*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: white;
}
html{
    font-family: 'Open Sans', sans-serif;
}
#navbar{
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.75rem;
    height: 70px;
    box-sizing: border-box;
}
#navbar ul{
    list-style-type: none;
    display: flex;
    align-items: center;
}
#navbar ul li a{
    padding:0.5rem;
}
#navbar ul li a:hover{
    background: #336ea2;
    border-radius: 4px;
}
/* HOme Section */
#home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-bottom: 1px solid grey;
}
#home img{
    max-width: 100%;
    height: auto;
    border-radius: 100%;
}
#home .name h2{
    margin-bottom: 0.75rem;
}
#home .name p {
    opacity: 0.6;
    font-style: italic;
}
/* #home a {
    margin-top: 1.25rem;
    background: #336ea2;
    padding: 0.8rem 3rem;
    border-radius: 7px;
    letter-spacing: 0.5px;
}
#home a:hover{
   color: #336ea2;
   background-color: #ffffff;
   border: 0.5px solid #336ea2;
} */
/* Bu şekildeki gibi tekrar tekrar yazmak yerine
 global.css'de tanımladığımız ortak
fonksiyonları kullanmak daha kolay  */
#interest{
    color: #ffffff;
    padding: 1rem;
}
#interest .items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#interest .items .item{
    width: 33%;
    text-align: center;
    padding: 0.5rem;
}
#interest.items .item:hover{
    color: aqua;
    opacity: 0.6;
}
/* About */
#about{
    color: #333333;
    padding: 1rem;
}
.about{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.about .education{
    display: flex;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}
.about .education .edu-image{
    margin-right: 0.5rem;
    position: relative;
}
.about .education .edu-image img{
    border-radius: 5px;
}
.about .education .edu-image span{
    background: red;
    padding: 0.06rem;
    color: #ffffff;
    border-radius: 4px;
    position: absolute;
    top: 0px;
    left: 0px;
}
.about .education .edu-info .title{
    letter-spacing: 1.2px;
    font-weight: 700;
    margin-bottom: 0.25rem;
}
.about .education .edu-info .description{
    letter-spacing: 1.2px;
    margin-bottom: 0.25rem;
    opacity: 0.6;
}
/* Contact */
#contact{
    color: #ffffff;
    padding: 1rem;
}
#contact .contact-form{
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}
#contact .contact-form ul {
    list-style-type: none;
    display: flex;
    margin-top: 1rem;
    align-self: center;
}
#contact .contact-form a{
    padding: 1rem;
    font-size: 4rem;
}
#contact .contact-form a:hover{
    opacity: 0.6;
}