#navbar{
    flex-direction: column;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    overflow: hidden;
    height: 80px;
}
#interest .items{
    flex-direction: column;

}
#interest .items .item{
    width: 100%;
}
.about .education{
    flex-direction: column;
}
.about .edu-info .title{
    text-align: center;
}